@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background: var(--main-bg);
}

.card {
    display: grid;
    place-items: center;
    margin-top: 10vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: var(--text-color);
    font-size: 25px;
    font-weight: 700;
}

.numbers{
    display:flex;
    padding:2px 5px;
    gap:15px;
    font-size: 5px;
}

.toggle {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.toggle p {
    font-size: 13px;
}

.wrapper{
    margin-bottom:15px;
}

  
  #custom-toggle {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 60px;
    background-color:var(--keypad-bg);
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding:4px;
    margin: 0;
    cursor: pointer;
    color:red;
  }
  #custom-toggle.tgl-def::-webkit-slider-thumb {
    background-color:var(--equal-bg);
  }

  #custom-toggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }
  #custom-toggle:focus {
    outline: none;
  }
  

.display {
    margin-top: 10px;
    width: 500px;
    height: 85px;
    border: none;
}

.display input {
    width: 100%;
    height: 85px;
    border-radius: 10px;
    border: none;
    background: var(--screen-bg);
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    text-align: right;
    padding: 10px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background: var(--keypad-bg);
    border-radius: 10px;
    align-items:center;
}

.input {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    border-bottom: 4px solid var(--key-shadow);
    background: var(--key-bg);
    color: var(--key-text-color);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    cursor:pointer;
}

.input:hover {
    background: var(--key-hover);
}


.result {
    grid-column: span 2;
    width: 220px;
}

.reset {
    background: var(--reset-bg);
    border-bottom: 4px solid var(--reset-shadow);
    color: var(--reset-text-color);
    font-size: 25px;
}

.reset:hover {
    background: var(--reset-hover);
}

.equal {
    background: var(--equal-bg);
    border-bottom: 4px solid var(--equal-shadow);
    color: var(--equal-text-color);
}

.equal:hover {
    background: var(--equal-hover);
}

/* Theme 1 */
:root {
    --main-bg: hsl(222, 26%, 31%);
    --keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --key-bg: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);
    --reset-bg: hsl(225, 21%, 49%);
    --reset-shadow: hsl(224, 28%, 35%);
    --equal-bg: hsl(6, 63%, 50%);
    --equal-shadow: hsl(6, 70%, 34%);
    --text-color: hsl(0, 0%, 100%);
    --key-text-color: hsl(221, 14%, 31%);
    --equal-text-color:hsl(0, 0%, 90%);
    --reset-text-color:hsl(0, 0%, 90%);
    --key-hover:#F7F6F6;
    --equal-hover:#D45547;
    --reset-hover:#9AA2B9;
}

/* Theme 2 */
body.theme2 {
    --main-bg: hsl(0, 0%, 90%);
    --keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    --key-bg: hsl(45, 7%, 89%);
    --key-shadow: hsl(35, 11%, 61%);
    --reset-bg: hsl(185, 42%, 37%);
    --reset-shadow: hsl(185, 58%, 25%);
    --equal-bg: hsl(25, 98%, 40%);
    --equal-shadow: hsl(25, 99%, 27%);
    --text-color: black;
    --key-text-color: hsl(60, 10%, 19%);
    --equal-text-color:hsl(0, 0%, 90%);
    --reset-text-color:hsl(0, 0%, 90%);
    --key-hover:hsl(0, 0%, 93%);
    --equal-hover:#DA7127;
    --reset-hover:#55A7AF;
}

/* Theme 3 */
body.theme3 {
    --main-bg: hsl(268, 75%, 9%);
    --keypad-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);
    --key-bg: hsl(268, 47%, 21%);
    --key-shadow: hsl(290, 70%, 36%);
    --reset-bg: hsl(281, 89%, 26%);
    --reset-shadow: hsl(285, 91%, 52%);
    --equal-bg: hsl(176, 100%, 44%);
    --equal-shadow: hsl(177, 92%, 70%);
    --text-color: hsl(52, 100%, 62%);
    --key-text-color: hsl(52, 100%, 62%);
    --equal-text-color:hsl(268, 75%, 9%);
    --reset-text-color:hsl(0, 0%, 90%);
    --key-hover:#502286;
    --equal-hover:#8AF1EA;
    --reset-hover:#741A9D;
}

@media (width < 431px){
    .card {
        margin-top:3vh;
    }
    
    .container {
        gap: 15px;
        padding:25px;
    }

    .display {
        margin-top: 5px;
        width: 375px;
    }

    .display input {
        width: 100%;
    }

    .input {
        width: 70px;
        height: 70px;
    }

    .result {
        grid-column: span 2;
        width:160px;
    }

    .keypad {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        padding: 20px;
    }

    .footer img{
        width:7%;
        height:7%;
    }
}

.footer{
    margin-top:50px;
    text-align:center;
    color:var(--reset-bg);
    display:flex;
    justify-content:center;
    gap:10px;
    align-items:center;
    font-size:22px;
}

.footer img{
    width:2%;
    height:2%;
    border-radius:50%;
}

.footer a{
    color:var(--equal-bg);
    text-decoration:none;
}

.footer a:hover{
    color:var(--equal-hover);
    text-decoration:none;
}